@page "/cats"

<PageTitle>My Cats</PageTitle>

<div class="d-flex container-fluid" style="height:100%">
    <MudPaper Class="pa-16 ma-2" Elevation="3">
        <MudText Typo="Typo.h4">Meet Cloudy.</MudText>
        <MudImage Src="images/cloudy1.jpg" Height="500" Alt="Cloudy, Devin's cat" Elevation="25" Class="rounded-lg ma-4"/>
        <MudImage Src="images/cloudy2.jpg" Height="500" Alt="Cloudy, Devin's cat" Elevation="25" Class="rounded-lg ma-4"/>
    </MudPaper>
</div>