@page "/"

<div class="d-flex container-fluid" style="height:100%">
    <MudPaper Class="pa-16 ma-2" Elevation="3">
        <MudText Typo="Typo.h4">Welcome! I'm Devin.</MudText>
        <MudText Typo="Typo.body1">
            I'm Devin, and I'm a software engineer at Verana Health.
            Here, I build data ingestion tooling for EHRs, 
            which subsequently provides real-world evidence to scientists.
            This provides an acceleration in medical research.
        </MudText>
    </MudPaper>
</div>